.mui{

position:absolute;

width:500px;
height:700px;

background:

radial-gradient(
circle,
white,
cyan,
transparent
);


filter:blur(40px);


animation:
muiPulse 1s infinite alternate;

}


@keyframes muiPulse{

from{

transform:scale(.9);

}

to{

transform:scale(1.2);

}

}
