.mui{

position:absolute;

width:500px;
height:700px;

background:

radial-gradient(
circle,
white,
cyan,
transparent
);


filter:blur(40px);


animation:
muiPulse 1s infinite alternate;

}


@keyframes muiPulse{

from{

transform:scale(.9);

}

to{

transform:scale(1.2);

}

}
.ue{

position:absolute;

width:600px;
height:800px;


background:

radial-gradient(
circle,
purple,
red,
transparent
);


filter:blur(50px);


animation:
uePower .8s infinite;

}


@keyframes uePower{


50%{

transform:scale(1.3);

}

}
.beast{

position:absolute;

width:700px;
height:900px;


background:

radial-gradient(
circle,
white,
violet,
transparent
);


filter:blur(60px);

animation:
beastMode 1s infinite;

}


@keyframes beastMode{


0%{

opacity:.5;

}


50%{

opacity:1;

}


}
